---
import Layout from '../layouts/Layout.astro';
import CardContainer from '../components/CardContainer.astro';
import SectionBody from '../components/SectionBody.astro';
import SectionTitle from '../components/SectionTitle.astro';
import { getEntry } from 'astro:content';
import MemberCard from '../components/MemberCard.astro';

const presidential = await getEntry('kabamilya' as any, 'Presidential');
const finance = await getEntry('kabamilya' as any, 'Finance');
const internals = await getEntry('kabamilya' as any, 'Internals');
const externals = await getEntry('kabamilya' as any, 'Externals');
const academic = await getEntry('kabamilya' as any, 'Academic');
const stulife = await getEntry('kabamilya' as any, 'Student Life');
const communications = await getEntry('kabamilya' as any, 'Communications');
---

<Layout>
	<div class="justify-center items-center grid grid-cols-1
	mx-50 my-25 gap-25">
		<!-- Page content goes here -->
		<div id="presidential"
		class="grid grid-cols-1
		gap-4">
			<SectionTitle title={presidential.data.id}/>
			<SectionBody descrip={presidential.data.description}/>
			<CardContainer dept='presidential'/>
		</div>
		<div id="finance"
		class="grid grid-cols-1
		gap-4">
			<SectionTitle title={finance.data.id}/>
			<SectionBody descrip={finance.data.description}/>
			<CardContainer dept='finance'/>
		</div>
		<div id="internals"
		class="grid grid-cols-1
		gap-4">
			<SectionTitle title={internals.data.id}/>
			<SectionBody descrip={internals.data.description}/>
			<CardContainer dept='internals'/>
		</div>
		<div id="externals"
		class="grid grid-cols-1
		gap-4">
			<SectionTitle title={externals.data.id}/>
			<SectionBody descrip={externals.data.description}/>
			<CardContainer dept='externals'/>
		</div>
		<div id="academic"
		class="grid grid-cols-1
		gap-4">
			<SectionTitle title={academic.data.id}/>
			<SectionBody descrip={academic.data.description}/>
			<CardContainer dept='academic'/>
		</div>
		<div id="stulife"
		class="grid grid-cols-1
		gap-4">
			<SectionTitle title={stulife.data.id}/>
			<SectionBody descrip={stulife.data.description}/>
			<CardContainer dept='stulife'/>
		</div>
		<div id="communications"
		class="grid grid-cols-1
		gap-4">
			<SectionTitle title={communications.data.id}/>
			<SectionBody descrip={communications.data.description}/>
			<CardContainer dept='communications'/>
		</div>
	</div>
</Layout>
