---
import '../styles/global.css';

import linkedin from '../assets/linkedin.svg';
import instagram from '../assets/instagram.svg';
import facebook from '../assets/facebook.svg';
import youtube from '../assets/youtube.svg';
import spotify from '../assets/spotify.svg';
---

<div id="footer"
class="flex flex-col lg:flex-row bottom-0 z-50 w-full h-min
items-center justify-center-safe py-8 gap-y-4
bg-tan border-t-1 md:border-t-2 border-black">
    <div id="socials"
    class="flex-row flex gap-10 px-4 lg:px-10">
        <a id="instagram-link" href="https://www.instagram.com/ubckaba/" target="_blank">
            <img id="instagram" src={instagram.src} alt="INSTAGRAM LOGO"
            class="w-7 h-7
            hover:brightness-200"/>
        </a>
        <a id="facebook-link" href="https://www.facebook.com/UBCKababayan" target="_blank">
            <img id="facebook" src={facebook.src} alt="FACEBOOK LOGO"
            class="w-7 h-7
            hover:brightness-200"/>
        </a>
        <a id="youtube-link" href="https://www.youtube.com/user/kababayanubc" target="_blank">
            <img id="youtube" src={youtube.src} alt="YOUTUBE LOGO"
            class="w-7 h-7
            hover:brightness-200"/>
        </a>
        <a id="spotify-link" href="https://open.spotify.com/user/eiztp1sajgx5ozlpfpztjm25i" target="_blank">
            <img id="spotify" src={spotify.src} alt="SPOTIFY LOGO"
            class="w-7 h-7
            hover:brightness-200"/>
        </a>
        <a id="linkedin-link" href="https://www.linkedin.com/company/ubc-kababayan-filipino-student-s-association/" target="_blank">
            <img id="linkedin" src={linkedin.src} alt="LINKEDIN LOGO"
            class="w-7 h-7
            hover:brightness-200"/>
        </a>
    </div>
    
    <iframe name="hidden_iframe" class="hidden"></iframe>
    <form id="newsletter-form" method="POST" action="/api/subscribe" target="hidden_iframe"
    class="flex h-min
    gap-0
    md:divide-x-2 divide-x-1 divide-black">
        <input id="newsletter-input" name="newsletter-input" type="email" placeholder="Enter your email."
        class="placeholder-gray font-acme lg:text-lg text-base no
        bg-white border-y-1 md:border-y-2 border-l-1 md:border-l-2 border-black rounded-l-[20px]
        py-1 px-8 lg:px-16">
        <button id="subscribe-button"
        class="bg-red rounded-r-[20px] md:border-y-2 border-y-1 md:border-r-2 border-r-1 border-black
        px-3 py-1
        text-black font-acme lg:text-lg text-base uppercase
        hover:bg-light-red transition-all duration-200">
            <span class="lg:hidden">SUBSCRIBE!</span>
            <span class="hidden lg:inline">SUBSCRIBE TO OUR NEWSLETTER!</span>
        </button>
    </form>
</div>