---
import '../styles/global.css';

const id = Astro.props;
const position = Astro.props;
const year = Astro.props;
const major = Astro.props;
const headshot = Astro.props;
---

<div id="member-card"
class="flex flex-col
gap-0
divide-y-2 divide-black">
    <div id="member-top"
    class="w-full h-8
    bg-navy-blue rounded-t-[20px] border-black border-t-2 border-x-2">

    </div>

    <div class="border-x-2 border-black
    w-full h-min aspect-6/7 overflow-hidden">
        <img src={Astro.props.headshot}
        class="w-full h-min object-cover"/>
    </div>

    <div id="member-bottom"
    class="bg-red rounded-b-[20px] border-black border-b-2 border-x-2
    w-full grid grid-cols-1
    items-center justify-center py-2 px-4 gap-0
    font-acme">
        <a id="member-name"
        class="text-base uppercase text-black">
                {Astro.props.id}
        </a>

        <a id="member-position"
        class="text-base text-brown">
                {Astro.props.position}
        </a>

        <a id="member-year"
        class="text-sm text-brown">
                Year {Astro.props.year}
        </a>

        <a id="member-major"
        class="text-sm text-brown">
                {Astro.props.major}
        </a>
    </div>
</div>