---
import '../styles/global.css';

const id = Astro.props;
const position = Astro.props;
const year = Astro.props;
const major = Astro.props;
const headshot = Astro.props;
---

<div id="member-card"
class="flex flex-col
gap-0
divide-y-1 md:divide-y-2 divide-black">
    <div id="member-top"
    class="w-full h-4 lg:h-8
    bg-navy-blue rounded-t-2xl lg:rounded-t-[20px] border-black border-t-1 md:border-t-2 border-x-1 md:border-x-2">

    </div>

    <div class="border-x-1 md:border-x-2 border-black
    w-full h-min aspect-6/7 overflow-hidden">
        <img src={Astro.props.headshot} loading="lazy" decoding="async"
        class="w-full h-full object-cover"/>
    </div>

    <div id="member-bottom"
    class="bg-red rounded-b-2xl lg:rounded-b-[20px] border-black border-b-1 md:border-b-2 border-x-1 md:border-x-2
    w-full grid grid-cols-1
    items-center justify-center py-1 lg:py-2 px-2 lg:px-4 gap-0
    font-acme">
        <a id="member-name"
        class="lg:text-lg sm:text-base text-sm uppercase text-black">
                {Astro.props.id}
        </a>

        <a id="member-position"
        class="lg:text-lg sm:text-base text-sm text-brown">
                {Astro.props.position}
        </a>

        <a id="member-year"
        class="lg:text-base sm:text-sm text-[10px] text-brown">
                Year {Astro.props.year}
        </a>

        <a id="member-major"
        class="lg:text-base sm:text-sm text-[10px] text-brown">
                {Astro.props.major}
        </a>
    </div>
</div>