---
import "../styles/global.css";
import logo from '../assets/KABA White Logo.png';

interface Props {
  currentPath: string;
}

const { currentPath } = Astro.props as Props;

const defaultStyle = "bg-red border-x-2 border-t-2 border-black rounded-t-[20px] w-50 text-black font-acme text-base py-2 mt-3 hover:mt-1 hover:bg-light-red transition-all duration-200" as string;
const focusStyle = "bg-light-red border-x-2 border-t-2 border-black rounded-t-[20px] w-50 text-black font-acme text-base py-2 mt-1" as string;

const home = currentPath === "/" ? focusStyle : defaultStyle;
const kabamilya = currentPath === "/kabamilya" ? focusStyle : defaultStyle;
const kabaAlbum = currentPath === "/kaba-album" ? focusStyle : defaultStyle;
const kabazine = currentPath === "/kabazine" ? focusStyle : defaultStyle;
const kabatalks = currentPath === "/kabatalks" ? focusStyle : defaultStyle;
---

<div id="nav-bar"
class="grid grid-cols-[max-content_1fr_max-content] w-full h-16 sticky top-0 z-50
gap-0 content-end
bg-tan border-b-2 border-black">
    <div id="kaba-logo"
    class="bg-navy-blue rounded-t-[20px] border-x-2 border-t-2 border-black flex
    justify-self-start py-2 mt-1 justify-center-safe items-center-safe px-12">
        <img id="logo" src={logo.src}
        class="h-8">
    </div>

    <div id="nav-spacer">
        <!-- Empty middle div for spacing -->
    </div>

    <div id="mobile-button"
    class="flex justify-self-end text-center gap-0 xl:hidden">
        <button id="mobile-hamburger"
        class="bg-red border-x-2 border-t-2 border-black rounded-t-[20px] w-50
        text-black font-acme text-base
        py-2 mt-3
        hover:mt-1 hover:bg-light-red transition-all duration-200">
            ☰
        </button>
    </div>

    <div id="mobile-menu"
    class="absolute top-full right-0 w-full hidden bg-red xl:hidden flex-col
    border-y-2 border-black rounded-b-[20px]
    opacity-0 transition-all duration-200">
        <a href="/" class="font-acme text-lg text-black
        px-12 py-4 border-b-2 border-black">
            HOME
        </a>
        <a href="/kabamilya" class="font-acme text-lg text-black
        px-12 py-4 border-b-2 border-black">
            KABAMILYA
        </a>
        <a href="/kaba-album" class="font-acme text-lg text-black
        px-12 py-4 border-b-2 border-black">
            KABA ALBUM
        </a>
        <a href="/kabazine" class="font-acme text-lg text-black
        px-12 py-4 border-b-2 border-black">
            KABAZINE
        </a>
        <a href="/kabatalks" class="font-acme text-lg text-black
        px-12 py-4">
            KABATALKS
        </a>
    </div>
    
    <div id="nav-buttons"
    class="xl:flex justify-self-end text-center gap-0 hidden">
        <a id="home-button" href="/"
        class={home}>
            HOME
        </a>
        <a id="kabamilya-button" href="/kabamilya"
        class={kabamilya}>
            KABAMILYA
        </a>
        <a id="kaba-album-button" href="/kaba-album"
        class={kabaAlbum}>
            KABA ALBUM
        </a>
        <a id="kabazine-button" href="/kabazine"
        class={kabazine}>
            KABAZINE
        </a>
        <a id="kabatalks-button" href="/kabatalks"
        class={kabatalks}>
            KABATALKS
        </a>
    </div>
</div>

<script>
    const hamburger = document.getElementById("mobile-hamburger");
    const menu = document.getElementById("mobile-menu");

    if (hamburger && menu) {
        hamburger?.addEventListener("click", () => {

            if(menu.classList.contains("hidden")){

                menu.classList.remove("hidden");
                menu.classList.add("flex");

                requestAnimationFrame(()=>{
                    menu.classList.remove("opacity-0");
                    menu.classList.add("opacity-100");
                });

            } else {

                menu.classList.add("opacity-0");
                menu.classList.remove("opacity-100");

                setTimeout(()=>{
                    menu.classList.add("hidden");
                    menu.classList.remove("flex");
                },300);

            }

        });
    }
</script>